[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
requests = "*"
boto3 = "*"
sqlalchemy = "*"
pymysql = "*"
django-filter = "*"
django-import-export = "*"
django-generate-secret-key = "*"

[dev-packages]

[requires]
python_version = "3.9.4"
