{% extends 'base.html' %}
{% block title %} Volunteers / Technical Team{% endblock %}
{% load static %}

{% block content %}

<section class="about section" id="volunteers_technicalTeam">

    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Volunteers / Technical Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">

                <!-- Team Section -->

                <div class="team_container">

                    <div class="team">
                    
                        <div class="team-img">
                            <img src="{% static 'images/harman_batheja.png' %}">
                            <div class="team-social">
                                <a class="social-tw" href="https://twitter.com/bathejaharman/" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="social-fb" href="https://www.facebook.com/harman.batheja.12" target="_blank">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                                <a class="social-li" href="https://www.linkedin.com/in/harman-batheja-686898206/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="social-in" href="https://www.instagram.com/harmanbatheja15/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="social-gh" href="https://www.github.com/harmanbatheja15/" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2>Harman Batheja</h2>
                            <h3>Student & Web Developer</h3>
                            <p>Brain behind this project and Developer of this Website.</p>
                        </div>
                    
                    </div>

                    <!-- <div class="team">
                    
                        <div class="team-img">
                            <img src="{% static 'images/tnm_jawad.jpg' %}">
                            <div class="team-social">
                                <a class="social-tw" href="https://twitter.com/tnm_jawad" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="social-fb" href="https://www.facebook.com/tnmjawad" target="_blank">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                                <a class="social-li" href="https://www.linkedin.com/in/tnmjawad/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="social-in" href="https://www.instagram.com/tnmjawad/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="social-yt"
                                    href="https://www.youtube.com/watch?v=xi40To980vs" target="_blank">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2>TNM Jawad</h2>
                            <h3>Entrepreneur</h3>
                            <p>Founder & CEO of TNM Online Solutions, TNM Autohub & TNM Sports Hub | TEDx Speaker.</p>
                        </div>
                    
                    </div> -->
                    
                    <!-- <div class="team">
                    
                        <div class="team-img">
                            <img src="{% static 'images/abhishek_jindal.jpg' %}" alt="Team Image">
                            <div class="team-social">
                                <a class="social-li" href="https://www.linkedin.com/in/aj472/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2>Abhishek Jindal</h2>
                            <h3>Software Engineer</h3>
                            <p>Software Engineer at Goldman Sachs, Banglore.</p>
                        </div>
                    
                    </div> -->

                    <div class="team">
                    
                        <div class="team-img">
                            <img src="{% static 'images/sanjeev_kansal.jpg' %}" alt="Team Image">
                            <div class="team-social">
                                <a class="social-tw" href="https://twitter.com/SanjeevKansal12" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="social-fb" href="https://www.facebook.com/sanjeev.kansal.545/" target="_blank">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                                <a class="social-in" href="https://www.instagram.com/sanjeevkansal485/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2>Sanjeev Kansal</h2>
                            <h3>Field Volunteer</h3>
                            <p>Organiser of blood donation camps in Punjab.</p>
                        </div>
                    
                    </div>

                </div>
                
                <!-- Team Section End -->

            </div>
        </div>

</section>

{% endblock %}